GAP_NNODE=1
GAP_JOB_NAME=REPLACE_NAME
GAP_NODE_TYPE=nodeNum
GAP_STD_ERR_FILE=REPLACE_OUT/std.err.%j
GAP_SUBMIT_TYPE=cmd
GAP_CMD_FILE=/tmp/STD_CMD_dummy.sh
GAP_SCHEDULER_OPT_WEB=/tmp/SCHEDULER_dummy.var
GAP_GUI=0
GAP_NGPU=
GAP_CLUSTER_ID=20035
advance=true
GAP_WORK_DIR=REPLACE_OUT
GAP_MULTI_SUB=1
GAP_STD_OUT_FILE=REPLACE_OUT/std.out.%j
GAP_JOB_MEM=
GAP_NDCU=1
GAP_QUEUE=kshdnormal
GAP_SCHED_TYPE=SLURM
GAP_PPN=1
GAP_WALL_TIME=72:00:00
